nav {
  width: auto;
  overflow: hidden;
  margin: 0 auto;
  
  background-color: rgba(48, 240, 176, 0.4);
  border-radius:30px;


}

nav a {
  margin: 20px;
  text-decoration: none;
  font-size: 35px;
  color: white;
}

  nav a:hover {
    background-color: rgba(132, 0, 255, 0.5);
    color: lightgoldenrodyellow;
  }

  .navbar-container {
    display:flex;
    flex-direction: column;
    background-image: url('/HeaderPic.jpg');
    background-position: top;
    background-size: cover;
    overflow: auto;
  }
