nav {
  display: block;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  border: double black;
  padding-top: 20px;
}
.topnav {
  padding: 0;
  margin: 0;
  display: inline-block;
  justify-content: center;
}

.navbar-item {
  padding: 0;
  float: left;
  text-align: center;
  justify-content: center;

}

nav a {
  margin: 20px;
  width: 150px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 148, 255, 0.35);
  font-size: 20px;
  color: white;
  padding: 20px 10px;
}

  nav a:hover {
    background-color: rgba(0, 148, 255,0.7);
    color: lightgoldenrodyellow;
  }

.navbar-container {
  background-image: url('/HeaderPic.jpg');
  background-position: top;
  background-size: cover;
  height: 100%;
  overflow: auto;
}
