nav {
  display: block;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.topnav {
  padding: 0;
  margin: 0;
  display: inline-block;

}

.navbar-item {
  padding: 0;
  float: left;

  justify-content: center;
}

nav a {
  margin: 20px;
  width: 400px;

  display: inline-block;
  text-decoration: none;

  background-color: rgba(255, 0, 149, 0.50);
  font-size: 60px;
  color: white;
  padding: 20px 10px;
}

  nav a:hover {
    background-color: rgba(132, 0, 255, 0.5);
    color: lightgoldenrodyellow;
  }

.navbar-container {

  background-image: url('/HeaderPic.jpg');
  background-position: top;
  background-size: cover;
  overflow: auto;
}
