.top-pages{
  display:inline;
  list-style:none;
  
}
.search-button{
  display: inline;
}


.pagination {
  display: inline-block;
}

.pagination li{
  color: black;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  margin:3px;
  font-size: 25px;
}

  .inactive:hover ,
  .inactive:active{
    background-color: grey;
    cursor:pointer;
  }

  li{
      background-color:slategrey;
  }
  .current-page{
    background-color: rgb(66,66,66);
  }