.search-container {
  position: relative;
  overflow: hidden;
  width:00px;
  padding: 0;
  overflow: show;
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10%;
  float: left;
  width: 400px;
}
.text-field{
  width: 100%;
}
.search-magnifier{
position: absolute;
top:0px;
right:0px;
width:55px;
height: 55px;
}

.label-container{
  position: relative;
}
.search-label{
  background-color: transparent;
  position: absolute;
  right:0px;
  top:0px;
}