.search-input{
    display: block;
    overflow: auto;
    margin:0;
    padding-right:0;
    align-items: left;
    float:left;
}

.input-style{
    color:white;
    width:300px;
    height: 50px;
    background-color:rgba(0, 38, 255, 0.3)
}

.search-button {
  width:100px;
  overflow:auto;
  color:white;
  background-color:rgba(0, 38, 255, 0.35);
}

.search-button:hover{
  background-color:rgba(0, 38, 255, 1);
  cursor: pointer;
}
